name: Lint Markdown and Spelling

on:
  pull_request:
    branches: [ "**" ]
  push:
    branches: [ "feature/**", "fix/**" ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4.0.3
        with:
          node-version: '20'
          cache: 'npm'

      - name: Markdownlint (markdownlint-cli2)
        uses: DavidAnson/markdownlint-cli2-action@v16
        with:
          globs: |
            **/*.md

      - name: CSpell (Spelling)
        uses: streetsidesoftware/cspell-action@v6
        with:
          files: |
            **/*.md
          config: cspell.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
